* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

.sidebar {
  background-color: #2290cf;
  color: #fbfaf9;
  padding: 15px;
}

.sidebar a {
  text-decoration: none;
  color: #fbfaf9;
}

.sidebar__brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__logo {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  display: block;
  fill: #fbfaf9;
}

.sidebar__title {
  font-size: 1.3rem;
}

.sidebar__divider {
  height: 30px;
}

.sidebar__item {
  display: flex;
  gap: 15px;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  padding: 10px;
}

.sidebar__icon {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  fill: #fbfaf9;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}
