html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex-shrink: 0;
  display: flex;
  background-color: #2290cf;
  flex-direction: column;
  color: #fbfaf9;
  width: 250px;
  padding: 15px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}


.sidebar a {
  text-decoration: none;
  color: #fbfaf9;
}

.sidebar__brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__logo {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  display: block;
  fill: #fbfaf9;
}

.sidebar__title {
  font-size: 1.3rem;
}

.sidebar__divider {
  height: 30px;
}

.sidebar__item {
  display: flex;
  gap: 15px;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  padding: 10px;
}

.sidebar__icon {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  fill: #fbfaf9;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

.right__section {
  width: 100%;
}

.search__icon {
  height: 1.2rem;
  margin: 0px 20px 0px 80px;
}

.search__icon:hover {
  cursor: pointer;
}

.search__bar {
  flex: 1 1 auto;
  background-color: #e1e7f0;
  height: 1.5rem;
  border-radius: 1.5rem;
  max-width: 450px;
}

.search__bar:hover {
  cursor: pointer;
}

.notification {

  height: 1.2rem;
  margin: 0px 10px 0px 70px;
}

.profile__icon {
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50%;

}

.search__icon-2 {
  display: none;
  height: 1.2rem;
}

.search__icon:hover {
  cursor: pointer;
}

.notification:hover {
  cursor: pointer;
}

.profile__name {
  font-weight: 500;
  font-size: 1rem;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 10px;
}

.search {
  display: flex;
  align-items: center;
  flex: 3 1 auto;
  max-width: 550px;
}

.profile {
  display: flex;
  align-items: center;

}

.profile__name {
  margin: 0px 10px 0px 0px;
}

.header__bottom {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}


.avatar {
  height: 60px;
  margin: 10px;
  border-radius: 50%;
}

.avatar__info {
  margin-right: auto;
  font-weight: 700;
}

.avatar__info span {
  display: block;
}

.avatar__info span:nth-child(1) {
  font-size: 0.7rem;
  margin-bottom: 2px;
  font-weight: 500;
}

.btn__primary {
  background-color: #1f91d3;
  font-weight: 700;
  border: none;
  margin: 10px 10px 10px 0px;
  padding: 0px 20px;
  border-radius: 2rem;
  color: white;
  height: 2rem;
}

.btn__primary:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.content {
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "projects projects notify";
  display: grid;
  overflow: auto;

}

.projects {
  display: grid;
  grid-area: projects;
  background-color: #e2e8f0;
  align-content: center;
  gap: 1rem;
  padding: 20px 20px 0px 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto repeat(auto-fit, 300px);
  justify-items: center;
  align-items: stretch;
  justify-content: start;
  align-content: start;
  grid-auto-flow: row;
  overflow-y: auto;
}

.lable__project {
  grid-column: 1/ -1;
  justify-self: start;
  align-self: center;
  font-size: 1rem;
  font-weight: 500;
}

.project__card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px 10px 20px;

  box-shadow: -6px 0px 0px 0px #e8b12a;

  margin: 0px 0px 10px 10px;

  display: flex;
  flex-direction: column;

}

.project__card-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.project__card-desc {
  flex: 1 0 100px;
  margin: 5px 0px auto 5px;
  font-size: 0.85rem;
  font-weight: 400;
  overflow-y: auto;
}

.card__btns {
  display: flex;

  gap: 10px;
  align-items: center;
  justify-content: end;
  margin: 10px 0px 0px 0px;
}

.card__btn {
  height: 20px;
}

.notify {
  grid-area: notify;
  background-color: pink;
}


/* 2. Tablets (Landscape and Portrait) */

@media (max-width: 1024px) {
  .sidebar__title {
    display: none;
  }

  .sidebar__text {
    display: none;
  }

  .sidebar {
    padding: 0px;
    width: 60px;
  }

  .sidebar__nav {
    align-items: center;
  }

  .sidebar__brand {
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 7px;
  }

}

/* 3. Small Tablets / Large Mobiles */

@media (max-width: 768px) {
  .header__top {
    justify-content: flex-end;
  }

  .header__bottom {
    padding: 0px;
  }

  .avatar__info {
    display: none;
  }

  .avatar {
    margin-right: auto;
  }



  .search__icon {
    margin: 0px 20px 0px 40px;
  }

  .notification {
    margin: 0px 10px 0px 40px;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "projects"
      "notify"
    ;
  }
}

/* 4. Small Mobile Devices */
@media (max-width: 480px) {
  .search__bar {
    display: none;
  }

  .search__icon {
    display: none;
  }

  .btn__primary {
    margin-right: 5px;
  }

  .search {
    flex: 0;
    display: none;
  }

  .search__icon-2 {
    display: inline;
    height: 1.2rem;

    margin: 0px 10px;
  }



  .profile {
    justify-content: flex-end;
  }

  .notification {
    margin: 0px 10px;
  }



}
